<div class="handpicked">
    <h2 class="headers-h2">HandPicked</h2>
    <div class="handpicked_block">
        <div class="handpicked_left">
            <img src="../../build/images/boots.jpg" alt="boots">
            <img src="../../build/images/bracelet.jpg" alt="bracelet">
        </div>
        <div class="handpicked_center">
            <img src="../../build/images/paris-hilton.jpg" alt="paris-hilton">
        </div>
        <div class="handpicked_right">
            <img src="../../build/images/lace.jpg" alt="lace">
            <img src="../../build/images/trinket.jpg" alt="trinket">
        </div>
    </div>
</div>