<section class="collection">
    <h2 class="headers-h2">Summer Collection</h2>
    <div class="collection-items">
        <div class="collection-item">
            <img src="../../build/images/1.jpg" alt="">
            <a href="#">
                <svg class="collection-item__button" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="../../build/img/svg/svg-symbols.svg#rectangle_152x"></use>
                </svg>
                +ADD TO CART</a>
        </div>
        <div class="collection-item">
            <img src="../../build/images/2.jpg" alt="">
        </div>
        <div class="collection-item">
            <img src="../../build/images/3.jpg" alt="">
        </div>
        <div class="collection-item">
            <img src="../../build/images/4.jpg" alt="">
        </div>
        <div class="collection-item">
            <img src="../../build/images/5.jpg" alt="">
        </div>
        <div class="collection-item">
            <img src="../../build/images/6.jpg" alt="">
        </div>
        <div class="collection-item">
            <img src="../../build/images/7.jpg" alt="">
        </div>
        <div class="collection-item">
            <img src="../../build/images/8.jpg" alt="">
        </div>
    </div>
</section>