<section class="collection">
    <h2 class="headers-h2">Summer Collection</h2>
    <div class="collection-items">
        <div class="collection-item_wrapper">
            <div class="collection-item">
                <img class="collection-item_img collection-item__label-sale collection-item__label" src="../../build/images/1.jpg" alt="">
                <a class="collection-item__button" href="#">+ADD TO CART</a>
            </div>
        </div>
        <div class="collection-item_wrapper">
            <div class="collection-item collection-item__label">
                <img src="../../build/images/2.jpg" alt="">
                <a class="collection-item__button" href="#">+ADD TO CART</a>
            </div>
        </div>
        <div class="collection-item_wrapper">
            <div class="collection-item collection-item__label">
                <img src="../../build/images/3.jpg" alt="">
                <a class="collection-item__button" href="#">+ADD TO CART</a>
            </div>
        </div>
        <div class="collection-item_wrapper">
            <div class="collection-item collection-item__label-big-sale collection-item__label">
                <img src="../../build/images/4.jpg" alt="">
                <a class="collection-item__button" href="#">+ADD TO CART</a>
            </div>
        </div>
        <div class="collection-item_wrapper">
            <div class="collection-item collection-item__label-sale collection-item__label">
                <img src="../../build/images/5.jpg" alt="">
                <a class="collection-item__button" href="#">+ADD TO CART</a>
            </div>
        </div>
        <div class="collection-item_wrapper">
            <div class="collection-item collection-item__label">
                <img src="../../build/images/6.jpg" alt="">
                <a class="collection-item__button" href="#">+ADD TO CART</a>
            </div>
        </div>
        <div class="collection-item_wrapper">
            <div class="collection-item collection-item__label">
                <img src="../../build/images/7.jpg" alt="">
                <a class="collection-item__button" href="#">+ADD TO CART</a>
            </div>
        </div>
        <div class="collection-item_wrapper">
            <div class="collection-item collection-item__label-big-sale collection-item__label">
                <img src="../../build/images/8.jpg" alt="">
                <a class="collection-item__button" href="#">+ADD TO CART</a>
            </div>
        </div>
    </div>
</section>